body{

}

.tudo{
    background-color: black;
    height:200px ;
    width:300px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 200px auto;
    border-radius: 13px;
    padding: 14px;
    box-shadow: inset 1px 1px 3px 3px darkgray;
}




.calculos{
    background-color: black;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: -180px auto;
    height: 50px ;
    width:375px ;
    box-shadow: inset 1px 1px 2px 3px darkgray;
   
}

.calculos button{
    box-shadow: inset 1px 1px 2px 2px darkgray;
}


.tudo input{
    border-radius: 0px;
    box-shadow: inset 1px 1px 2px 2px darkgray;
    height: 20px;
}




.tudo h1{
    color: white;
    text-align: justify;
    text-align: center;
    font-size: 13px;
    font-family: cursive;
}