body{

    animation-name: background;
 animation-duration: 10s;
 animation-direction: alternate;
 animation-iteration-count: infinite;
 background:linear-gradient( to right,#27173D,#4D2C78,#693CA3,#4D2C78,#27173D,#170D24,#030205 ) ;
 background-size: 500%;
   
   
}

@keyframes background{

    0%{
        background-position-x: 0%;
    }
    
    100%{
        background-position-x: 100%;
    }
    
    
    }
    



.tudo{
    background-color: black;
    height:200px ;
    width:300px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 200px auto;
    border-radius: 13px;
    padding: 14px;
    box-shadow: inset 2px 2px 3px 3px darkgray;
}




.calculos{
    background-color: black;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: -180px auto;
    height: 50px ;
    width:375px ;
    box-shadow: inset 1px 1px 3px 3px darkgray;
   
}

.calculos button{
    box-shadow: inset 1px 1px 2px 2px darkgray;
}


.tudo input{
    border-radius: 0px;
    box-shadow: inset 1px 1px 2px 2px darkgray;
    height: 20px;
}




.tudo h1{
    color: white;
    text-align: justify;
    text-align: center;
    font-size: 13px;
    font-family: cursive;
}